.content {
    margin: 140px 100px 0 100px;
    padding: 0 10px 8px 10px;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    width: calc(100% - 200px);
    box-sizing: border-box;
}

.line-content {
    height: 10px;
    width: 100%;
}

.title {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700;
    width: 400px;
    padding-left: 16px;
    border: 1px solid black;
    /* transform: skew(-30deg); */
    /* text-align: center; */
    border-right: 15px solid transparent;
    position: relative;
}

.brand-products {
    width: 100%;
    height: 200px;
}

.list-brand {
    display: flex;
    align-items: center;
}

.nav-list-brand {
    display: flex;
    max-height: 150px;
    width: 100%;
    overflow: hidden;
}

.item-brand {
    border: 1px solid black;
    height: 150px;
    box-sizing: border-box;
    margin-left: 20px;
}

.item-brand img {
    height: auto;
    width: 150px;
    padding: 10px;
}

.list-product-impoted {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-gap: 20px; */
    width: 100%;
    height: 650px;
}

.product {
    height: 300px;
    /* width: 24.5%; */
    border: 1px solid black;
    margin: 0 15px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 4px;
}

.product-image {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.product-image img {
    width: 100%;
    min-width: 100%;
    height: 210px;
}

.product-image img:hover {
    transform: scale(1.2);
}

.product-name {
    font-size: 17px;
    font-weight: 600;
}

.price {
    font-size: 16px;
}

.favourtive {
    position: absolute;
    top: 10px;
    right: 10px;
}

.favourtive:hover {
    color: red;
}

.product-buttom {
    display: none;
    font-size: 14px;
}

.product-detail,
.add-cart {
    border: 1px solid black;
    border-radius: 4px;
    line-height: 30px;
    padding: 0 8px;
}

.product:hover .product-buttom {
    display: block;
    display: flex;
    justify-content: space-evenly;
}

.add-cart:hover {
    background-color: aqua;
    cursor: pointer;
}

.product-detail:hover {
    background-color: aqua;
    cursor: pointer;
}

.see-more {
    border: 1px solid black;
    width: 200px;
    margin: auto;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}